.hidden {
    display: none;
}

body {
    height: 100vh;
    
    font-family: 'Syne Mono', monospace;
    background-image: url("/pictures/moon2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-color: grey;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    
    
}

p {
    font-family: 'Syne Mono', monospace;
    color: whitesmoke;
    margin: 0;
}

.set {
    justify-content: center;
}

#display {
    display: inline-flex;
    font-size: 15vh;
    padding: 15vh;
    padding-bottom: 3vh;
    padding-top: 10vh;
    text-shadow: 2vh 2vh 5vh 1vh rgba(245, 245, 245, 0.318);
}

.all-buttons {
    font-family: 'Syne Mono', monospace;
    padding-top: 0;
    padding-left: 12vh;
    padding-right: 21vh;
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.button-class:hover {
    cursor: pointer;
}

.button-class {
    background-color: black;
    color: whitesmoke;
    width: 15vh;
    height: 15vh;
    border: 0.4vh solid rgba(245, 245, 245, 0.5);
    box-shadow: rgba(245, 245, 245, 0.5) 0px 22px 70px 4px;
    border-radius: 10vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 3vh;
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    outline: none;
}

#start {
    color: rgb(75, 120, 35);
    background-color: rgba(245, 245, 245, 0.1);
}

#start:active {
    background-color: rgba(75, 120, 35, 0.3);
    color: rgb(50, 61, 140);
    border: none;
}

#start:hover {
    background-color: rgba(75, 120, 35, 0.3);
    color: rgb(50, 61, 140);
    transition: color 1s;
    box-shadow: rgba(245, 245, 245, 0.7) 0px 22px 70px 4px;
    
}

#reset {
    color: rgba(245, 245, 245, 0.5);
    background-color: rgba(245, 245, 245, 0.1);
    
}

#reset:hover {
    background-image: url("/pictures/earth1.jpg");
    border: none;
    background-size: 19vh;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    box-shadow: rgba(245, 245, 245, 0.9) 0px 22px 70px 4px;
    color: rgba(0, 0, 0, 0);
    
}

#lap {
    color: rgb(50, 61, 140);
    background-color: rgba(245, 245, 245, 0.1);
}

#lap:active {
    background-color: rgba(50, 61, 140, 0.3);
    color: rgba(75, 120, 35, 1);
    border: none;
}

#lap:hover {
    background-color: rgba(50, 61, 140, 0.3);
    color: rgba(75, 120, 35, 1);
    transition: color 1s;
    box-shadow: rgba(245, 245, 245, 0.7) 0px 22px 70px 4px;
}

.lap-container {
    height: 28vh;
    width: 100vh;
    margin-top: 10vh;
    margin-right: 18vh;
    margin-left: auto;
    margin-bottom: 0;
    align-self: center;
    padding: 1vh;
    overflow-x: hidden;
    
}

#lapRecord {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 4vh;
    justify-content: center;
    text-align: center;
}

.laps-list {
    position: relative;
    list-style-type: decimal;
    flex: 2;
    flex-basis: 40%;
}

li {
    color: rgb(50, 61, 140);
    list-style-position: inside;
    padding: 8px 16px;
}

::marker {
    font-weight: bold;
    color: rgb(75, 120, 35);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(44, 44, 42);
  }
  
::-webkit-scrollbar-thumb {
    background: rgb(135, 135, 135);
  }
  
::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
  }